#hud {
    display: flex;
    justify-content: space-evenly;
}

.hud-prefix{
    text-align: center;
    font-size: 2rem;
}

.hud-main-text{
    text-align: center;
}

.timer {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 4rem;
    color: #63a5eb;
  }